[2015-08-02 01:39] davclark opened #33 "Is this project still in process?"
I'm guessing no. I sent something around on Slack with no response. If it *is* still in progress, I finally have something I'd like to submit.

[2015-08-02 03:06] jkitzes commented on #33
Yes it is - we'll be soliciting more case studies soon. But if you have something ready now, a PR to the submissions branch would be very welcome.

[2015-12-16 22:15] jkitzes commented on #33
@davclark, as we talked about last month or so, we're still accepting submissions - we'd like to have them all by mid January. Let me know if you're still interested, and feel free to submit a PR at any time.

[2015-12-16 22:15] #33 closed

[2016-03-10 23:27] danielturek opened #41 "Case Study revision: khinsen"
Your case study represents a useful and interesting example of reproducibility in applied scientific research, and we value this contribution relating to ActivePages very much.  The Narrative is extremely well written, but the overall presentation is one level more "abstract" than we're looking for.

Narrative

- [ ] Please provide a one sentence “title” for your case study (e.g., “Developing, tes

[2016-03-10 23:44] danielturek opened #42 "Case Study revision: millmanOttoboniStark"
Your case study represents a useful and interesting example of reproducibility in applied scientific research.  However, in its current state, both the Narrative and Diagram will require significant revision.  We’d like to receive revised case studies no later than April 8th.

Narrative

- [ ] Please provide a one sentence “title” for your case study (e.g., “Developing, testing, and deploying effi

[2016-03-11 00:53] danielturek opened #43 "Case Study revision: cboettig"
Your case study represents a useful and interesting example of reproducibility in applied scientific research, and we value this contribution relating to Docker and Open Lab notebooks very much.  We're requesting some revisions for your Narrative, and a re-design of your Diagram to a more standardized presentation.

Introduction:

- [x] Please provide a one sentence “title” for your case study (e.

[2016-03-11 01:01] danielturek opened #44 "Case Study revision: aarendt"
Your case study represents a useful and interesting example of reproducibility in applied scientific research, and we value this contribution. We're requesting some minor revisions in your Narrative and Diagram.

Narrative:

- [x] Please provide a one sentence “title” for your case study (e.g., “Developing, testing, and deploying efficient MCMC algorithms for hierarchical models using R”, or an eq

[2016-03-14 13:31] khinsen commented on #41
@danielturek Thanks for your feedback! Unfortunately I don't understand exactly what you are looking for.

I can turn my diagram into a single flowchart using more colors, but the result is rather messy (I tried). Moreover, you also want to me convert the diagram to black & white. I don't see how to combine these requests without reducing the information content in the diagram.

As for the level o

[2016-03-14 20:00] danielturek commented on #41
@khinsen  thanks for the feedback, and I'm more than happy to iterate with you to reach something we're both happy with.  Let me try to disentangle some of the revisions:

We're moving all diagrams to black & white, so however this is accmoplished, your diagram will have to be changed to remove colors.  Whether you use different shapes boxes (circles, squares, etc), different outlines (solid, dott

[2016-03-15 19:01] danielturek opened #45 "Case Study revision: barbera"
Your case study represents a useful and interesting example of reproducibility in applied scientific research, and we value this contribution relating political science, social media, data sharing and privacy.  Your Narrative and Diagram are both excellent, and we're only requesting minor revisions.

Narrative

- [x] Please provide a one sentence “title” for your case study (e.g., “Developing, tes

[2016-03-15 21:55] fatmai opened #46 "Case study revision: akrause"
Your case study represents a useful and interesting example of reproducibility in applied scientific research, and we value this contribution. The narrative and diagram are overall very clear, however, we're requesting some minor revisions.

Introduction
- [ ]  Please elaborate your project and the general motivation and purpose substantially more. This should really motivate what your case study

[2016-03-17 16:15] fatmai opened #47 "Case study revision: arokem"
Your case study represents a useful and interesting example of reproducibility in neuroimaging, and we value this contribution.  The narrative and diagram are very clear. We’re requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.

Introduction

- [ ] Please provide a one sentence “title” for your case study (e.g., “Developing, testing, and deploying efficient

[2016-03-17 16:23] fatmai opened #48 "Case study revision: benmarwick"
Your case study represents a useful and interesting example of reproducibility of archeological data analysis, and we value this contribution.  The diagram and narrative are very clear. We’re only requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.

Introduction

- [ ] Please provide a one sentence “title” for your case study (e.g., “Developing, testing, and

[2016-03-17 16:29] fatmai opened #49 "Case study revision: cgorgolewski"
Your case study represents a useful and interesting example of reproducibility in neuroimaging data analysis, and we value this contribution.  The diagram is very clear. We’re requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.

Introduction

- [ ] Please provide a one sentence “title” for your case study (e.g., “Developing, testing, and deploying efficient

[2016-03-18 16:40] danielturek opened #50 "Case study revision: chartgerink"
@chartgerink
Your case study represents a useful and interesting example of reproducibility in applied resaerch using human subjects, and we value this contribution.  We’re requesting some minor revisions throughout.

Introduction

- [ ] Please provide a one sentence “title” for your case study (e.g., “Developing, testing, and deploying efficient MCMC algorithms for hierarchical models using R”, o

[2016-03-18 17:08] danielturek opened #51 "Case study revision: choldgraf"
@choldgraf
Your case study represents a useful and interesting example of reproducibility in applied scientific research, and we value this contribution.  We’re requesting some minor revisions to your Narrative and Diagram.

Introduction

- [x] Please provide a one sentence “title” for your case study (e.g., “Developing, testing, and deploying efficient MCMC algorithms for hierarchical models usin

[2016-03-18 17:10] choldgraf commented on #51
These are great comments - thanks for the feedback and I'll implement them
soon. What's the deadline you guys are shooting for?

On Fri, Mar 18, 2016 at 10:08 AM, Daniel Turek notifications@github.com
wrote:

[2016-03-18 17:11] danielturek opened #52 "Case study revision: dghoshal"
Your case study represents a useful and interesting example of reproducibility in applied scientific research, and we value this contribution.  We’re requesting the addition of a Title, increased detail in your Narrative, and minor revisions to your Diagram.

Introduction

- [ ] Please provide a one sentence “title” for your case study (e.g., “Developing, testing, and deploying efficient MCMC algo

[2016-03-18 17:15] danielturek opened #53 "Case study revision: dholland"
Your case study represents a useful and interesting example of reproducibility in applied scientific research, and we value this contribution.  Your Narrative is excellent overall, and we’re requesting the addition of a Title, minor revisions to your Narrative, and re-working your Diagram.

Introduction

- [x] Please provide a one sentence “title” for your case study (e.g., “Developing, testing, a

[2016-03-18 17:16] fatmai commented on #51
Thanks, Chris. April 15th.

[2016-03-18 17:18] choldgraf commented on #51
Ah ok, that's plenty of time to address these comments. I'll post here as I have questions etc

[2016-03-18 17:20] danielturek commented on #51
Sounds good, thanks for the quick response!

And I'll start adding the "requested by due date" to the notification
emails, great point, Chris.

On Fri, Mar 18, 2016 at 10:18 AM, Chris Holdgraf notifications@github.com
wrote:

[2016-03-18 17:20] choldgraf commented on #51
Alternatively we could use milestones w/in github, but maybe that's too much machinery?

[2016-03-18 17:21] danielturek opened #54 "Case study revision: dushizima"
Your case study represents a useful and interesting example of reproducibility in applied scientific research, and we value this contribution.  Overall it’s excellent, and we’re requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.

Introduction

- [x] Please provide a one sentence “title” for your case study (e.g., “Developing, testing, and deploying efficien

[2016-03-18 17:25] danielturek commented on #51
Yes, and some people aren't so git savvy.

On Fri, Mar 18, 2016 at 10:20 AM, Chris Holdgraf notifications@github.com
wrote:

[2016-03-18 17:25] choldgraf commented on #51
sounds good, will keep it in my calendar then :)

On Fri, Mar 18, 2016 at 10:25 AM, Daniel Turek notifications@github.com
wrote:

[2016-03-18 17:57] danielturek commented on #51
Update!  Since we're ahead of the game, and aiming to give people 2 weeks
for revisions, we're moving the (loose) deadline to 8 April.  Please update
your calendar!  Thanks, Chris.

On Fri, Mar 18, 2016 at 10:25 AM, Chris Holdgraf notifications@github.com
wrote:

[2016-03-21 11:11] benmarwick commented on #48
Thanks for the helpful feedback. PR #55 hopefully addresses everything.

[2016-03-21 20:40] danielturek opened #56 "Case study revision: gchristensen"
@garretchristensen
Your case study represents a useful and interesting example of reproducibility in social science research, and we value this contribution.  We’re requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.  We’d like to receive revised case studies no later than April 8th.

Introduction

- [x] Please provide a one sentence “title” for your case st

[2016-03-21 20:44] danielturek opened #57 "Case study revision: gzpastorello"
@gilbertozp
Your case study represents a useful and interesting example of reproducibility for data processing, and we value this contribution.  We’re requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.  We’d like to receive revised case studies no later than April 8th.

Introduction

- [x] Please provide a one sentence “title” for your case study (e.g., “De

[2016-03-21 21:00] danielturek opened #58 "Case study revision: jgukelberger"
@jgukelberger
Your case study represents a useful and interesting example of reproducibility in applied computational physics, is very well-written.  We’re requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.  We’d like to receive revised case studies no later than April 8th.

Introduction

- [x] Please provide a one sentence “title” for your case study (e.g.

[2016-03-21 21:08] danielturek opened #59 "Case study revision: jmMagallanes"
Your case study represents a useful and interesting example of reproducibility in applied political science, and we value this contribution.  We’re requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.  We’d like to receive revised case studies no later than April 8th.

Introduction

- [ ] Please provide a one sentence “title” for your case study (e.g., “Devel

[2016-03-21 21:14] danielturek opened #60 "Case study revision: kasmislan"
@kallisons
Your case study represents a useful and interesting example of reproducibility in applied scientific research, and we value this contribution.  For your case study, were looking for only one Diagram and one Narrative.  Can you please reformat in this way?  The style and presentation of [kasmislan_researchworkflow.pdf](https://github.com/BIDS/repro-case-studies/blob/submissions/case-stud

[2016-03-22 15:31] camlabuk opened #62 "Using AWS CLI to talk to MTurk - 'cannot find path' error message"
I'm having some problems with using Command Line Tools with AWS and MTurk. I have followed these instructions: https://requester.mturk.com/developer/tools/clt and then followed the 'Get Started' instructions - and Command Line finds 'bin' in the AWS folder, but can't run any commands. It simply returns a 'cannot find path' message. We've even made sure we have the exact version of JAVA mentioned i

[2016-03-23 17:04] kallisons commented on #60
Yes, I can revise my case study by April 8.  Also, the study and the associated code have now been published so I can provide references.

[2016-03-23 20:34] fatmai commented on #62
Are you sure you are in the right repository?

[2016-03-23 20:36] fatmai commented on #42
@jarrodmillman, @kellieotto, @pbstark: We moved the revision deadlines to April 8th. Please let us know if that is a problem.

[2016-03-23 20:37] danielturek commented on #60
Excellent, thank you very much.  We'll look forward to seeing the revisions by April 8th.

[2016-03-23 23:20] garretchristensen commented on #56
Just sent a pull request with my edits.
Made the changes to my 2 docs: gchristensen.md and gchristensen.pdf. The PDF of the diagram shows the hopefully editable link to the draw.io program that I used to draw the diagram. I'll also post it here.
https://drive.google.com/a/berkeley.edu/file/d/0B_tfJAZML93oamdUdmxNLXctQVU/view?usp=sharing

[2016-03-24 01:34] fatmai commented on #56
garret, I made a slight chance in the arrangement of the labels in the diagram, can you check if that is ok [here](https://www.draw.io/?state=%7B%22ids%22:%5B%220B_tfJAZML93oamdUdmxNLXctQVU%22%5D,%22action%22:%22open%22,%22userId%22:%22118211866749420874003%22%7D#G0B_tfJAZML93oamdUdmxNLXctQVU)

[2016-03-24 04:06] garretchristensen commented on #56
Sure, looks totally fine. I didn't use the stage 1, 2, 3 labels in my original draft, so I didn't really design the diagram with them in mind, and don't really have strong feelings about what we call what in this regard.

[2016-03-24 06:21] fatmai opened #64 "Case Study Revision: kbarbary"
@kbarbary
Your case study represents a useful and interesting example of reproducibility in cosmology, and we value this contribution.  We’re requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.  We’d like to receive revised case studies no later than April 8th.

Introduction

- [ ] Please provide a one sentence “title” for your case study (e.g., “Developing,

[2016-03-24 06:27] fatmai opened #65 "Case Study Revision: khuff"
@katyhuff
Your case study represents a useful and interesting example of reproducibility in nuclear engineering, and we value this contribution.  We’re requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.  We’d like to receive revised case studies no later than April 8th.

Introduction

- [x] Please provide a one sentence “title” for your case study (e.g., “D

[2016-03-24 06:30] fatmai opened #66 "Case Study Revision: kottoboni"
@kellieotto
Your case study represents a useful and interesting example of reproducibility in applied scientific research, and we value this contribution.  We’re requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.  We’d like to receive revised case studies no later than April 8th.

Introduction

- [x] Please provide a one sentence “title” for your case study

[2016-03-24 11:54] khinsen commented on #41
@danielturek I submitted my revision in PR #67. I ended up removing the second part of the diagram, which is also much less important for understanding my workflow. I hope that the new labels on the boxes make it clear that each box is a distinct piece of information.

[2016-03-24 20:32] danielturek opened #68 "Case Study Revision: rjleveque"
@rjleveque
Your case study represents a useful and interesting example of reproducibility in applied scientific research, and we value this contribution.  It’s extremely well written, and we’re requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.  We’d like to receive revised case studies no later than April 8th.

Introduction
- [ ] Please provide a one sente

[2016-03-24 20:35] danielturek opened #69 "Case Study Revision: rpoldrack"
@poldrack
Your case study represents a useful and interesting example of reproducibility in applied scientific research, and we value this contribution.  We’re requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.  We’d like to receive revised case studies no later than April 8th.

Introduction
- [x] Please provide a one sentence “title” for your case study (e

[2016-03-24 20:37] danielturek opened #70 "Case Study Revision: slaybaugh"
@RachelSlaybaugh
Your case study represents a useful and interesting example of reproducibility in applied scientific research, and we value this contribution.  We’re requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.  We’d like to receive revised case studies no later than April 8th.

Introduction
- [x] Please provide a one sentence “title” for your case s

[2016-03-24 20:40] danielturek opened #71 "Case Study Revision: tmadhyastha"
Tara,
Your case study represents a useful and interesting example of reproducibility in the field of neuroscience, and we value this contribution.  We’re requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.  We’d like to receive revised case studies no later than April 8th.

Introduction
- [ ] Please provide a one sentence “title” for your case study (e.g., “

[2016-03-24 20:42] danielturek opened #72 "Case Study Revision: vstaneva"
@valentina-s
Your case study represents a useful and interesting example of reproducibility in applied scientific research, and we value this contribution.  We’re requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.  We’d like to receive revised case studies no later than April 8th.

Introduction
- [x] Please provide a one sentence “title” for your case study

[2016-03-24 20:51] danielturek commented on #41
I think this is much more clear.  Thanks for updating the diagram, and the narrative follows it nicely.  PR merged, and closing this issue.  Cheers!

[2016-03-24 20:51] #41 closed

[2016-03-24 21:06] danielturek commented on #56
Closing this issue after merging PR #73, files supplied from @garretchristensen

[2016-03-25 04:13] fatmai opened #74 "Case Study Revision: kram"
@kram

Your case study represents a useful and interesting example of reproducibility, and we value this contribution.  We’re requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.  We’d like to receive revised case studies no later than April 8th.

Introduction

- [x] Please provide a one sentence “title” for your case study (e.g., “Developing, testing, and de

[2016-03-25 04:19] fatmai opened #75 "Case Study Revision: omesnard"
@mesnardo
Your case study represents a useful and interesting example of reproducibility in applied scientific research, and we value this contribution.  We’re requesting the addition of a Title, and some minor revisions to your Narrative and Diagram.  We’d like to receive revised case studies no later than April 8th.

Introduction

- [x] Please provide a one sentence “title” for your case study (

[2016-03-25 04:27] fatmai opened #76 "Case Study Revision: ycheah"
@yocheah

Introduction
- [ ] Please provide a one sentence “title” for your case study (e.g., “Developing, testing, and deploying efficient MCMC algorithms for hierarchical models using R”, or an equivalent level of detail), at the very beginning of your case study, following the example below.
- [ ] Please provide a little more description of your case study in your answer to question 1 in the in

[2016-03-25 04:31] fatmai opened #77 "Case Study Revision: zzhang"
@zhaozhang

Introduction
- [x] Please provide a one sentence “title” for your case study (e.g., “Developing, testing, and deploying efficient MCMC algorithms for hierarchical models using R”, or an equivalent level of detail), at the very beginning of your case study, following the example below.
- [x] Please provide a little more description of SEP library (either here or in the narrative)

Narra

[2016-03-26 01:00] kellieotto commented on #66
Everything should be revised now.  It's no problem here but just so errors don't propagate in the book, my last name is spelled with an "o" instead of "a": Ottoboni.

[2016-03-26 04:37] fatmai commented on #66
@kellieotto: sorry for the spelling error Kellie! just changed the issue ;)

[2016-03-28 11:29] chartgerink commented on #50
Great thanks. Will be sure to make the revisions before April 8.

[2016-03-29 16:40] danielturek commented on #66
Closed after merging PR #79 from @kellieotto.

[2016-03-29 16:40] #66 closed

[2016-04-01 15:53] andykrause commented on #46
Introduction
•   Please elaborate your project and the general motivation and purpose substantially more. This should really motivate what your case study is all about.
-   Have added more discussion to the introduction regarding the project’s goals, etc.
  Narrative
  •   Please provide a one sentence “title” for your case study (e.g., “Developing, testing, and deploying efficient MCMC algorithms

[2016-04-04 05:06] rachelslaybaugh commented on #70
I will do this. Is it at all possible to get an extension? If not I'll make
it happen on time...

On Thu, Mar 24, 2016 at 1:37 PM, Daniel Turek notifications@github.com
wrote:

[2016-04-04 11:55] fatmai commented on #46
Thanks, @andykrause for the quick revisions. Is it possible to make a black&white version of your diagram instead of grayscale? Once you are ready, would you mind providing us with an editable source file of your diagram (e.g. an SVG, Scalable Vector Graphics, file or similar)?

[2016-04-04 17:28] arokem commented on #47
Regarding the second comment ("command line" vs. "shell prompt"): what exactly do you mean? Do you mean that I should use one or the other, but not both?

[2016-04-04 17:33] arokem commented on #47
Would the explanation of RAID be better in the glossary? I noticed that I was writing a rather long (two sentence explanation) that didn't really fit in here.

[2016-04-04 17:36] arokem commented on #47
https://github.com/BIDS/repro-case-private/pull/57/commits/c16354d4c8f99074bb9414f7c315d4d4768af535

[2016-04-04 17:37] arokem commented on #47
Unit testing is also explained in the glossary. Do you still want me to explain it here as well?

[2016-04-04 17:37] arokem commented on #47
Should the glossary explain API in more detail?

[2016-04-04 17:41] arokem commented on #47
https://github.com/BIDS/repro-case-private/pull/57/commits/32cc280f1fdda4c6720250c486d939bfe3366232

[2016-04-04 17:56] arokem commented on #47
https://github.com/BIDS/repro-case-studies/pull/81

[2016-04-04 20:09] jarrodmillman commented on #42
@fatmai , @danielturek :  I am about half way through the revision (it is taking a bit longer than expected as I need to write the text (we mostly had bullet points) and I have to redo the diagram).   I have a couple big things on my plate this week and won't have time to finish the revision until next week.  I will submit the new draft by Friday, April 15th.

[2016-04-05 00:00] fatmai commented on #47
@arokem: yes, I think you should use one or the other ("command line" or "shell prompt") in your text.

regarding RAID and other acronyms, it is good to have at least the definition (what the letters mean) of the acronym in your case study, and a longer explanation (as you added) in the glossary.

[2016-04-05 02:29] arokem commented on #47
OK - I've addressed all the comments, I believe. But let me know if I've missed anything.

[2016-04-05 17:15] fatmai commented on #70
@rachelslaybaugh we can give you an extension until April 15th. Hope that helps and you can make it to that  date.

[2016-04-05 19:14] fatmai commented on #42
@jarrodmillman April 15th sounds good!

[2016-04-05 21:55] andykrause commented on #46
See attached for source file and black and white version, i'll email you the .svg as github wont accept it.

[repCaseStudy_b&w.pdf](https://github.com/BIDS/repro-case-studies/files/205410/repCaseStudy_b.w.pdf)

[2016-04-06 22:10] danielturek commented on #68
Moving discussion to here:

@rjleveque thanks for the quick turnaround! I see you've addressed most everything in #68.

I'm going to go ahead and merge #80. Then make two minor edits to the diagram.

(1) Make the text "UW ResearchWorks archive" fit inside its oval

(2) Adding the labels we've suggested. I agree your case study is about computational science, but we'll try to separate the parts hav

[2016-04-06 22:18] danielturek commented on #47
@arokem thanks for the quick turnaround, your revisions look very good.

Merged #81, and closing this issue.

[2016-04-06 22:18] #47 closed

[2016-04-06 22:18] danielturek commented on #77
Extended deadline to 12 April.

[2016-04-06 22:19] danielturek commented on #69
Extended your deadline to 1 May, but we'll check-in before then.

[2016-04-06 22:44] danielturek commented on #46
Thanks @andykrause.  I've just removed the gray version of your diagram, and added a PDF version of akrause_edited_bw.svg.

Revisions to your Narrative look good; closing this issue.

[2016-04-06 22:44] #46 closed

[2016-04-07 00:18] rjleveque commented on #68
The subdivision into Data Processing and Data Analysis still seems odd to me.  Both processing and analysis went into the project report, and then both were re-worked for the journal article and again for the revision, so in a sense the "code development" bubble that appears three times is what should be subdivided into processing and analysis (or perhaps simulation and analysis in our case).  The

[2016-04-07 22:39] danielturek commented on #68
Your points are well-understood.  To put this in perspective, we're attempting to fit all case studies into this general framework of data input, data processing, data analysis, which explains the attempt to do so with yours.

I certainly welcome any new ideas, and will continue to think about it myself.  Thanks.

[2016-04-07 22:50] kbarbary commented on #64
I'll try to finish this off by tomorrow! Should I make the figure 6.5 inches wide (affects effective font size if the figure will be scaled)?

[2016-04-08 20:50] choldgraf commented on #51
Hey - cleaning this up a bit right now. I think that you recommended a diagram-creation tool that was hosted online somewhere. Do you remember the name of it? I think that my draft of the diagram is hosted there...otherwise I'll have to start from scratch.

[2016-04-08 21:15] danielturek commented on #51
draw.io

You certainly may have used it to create your diagram; but unless you still have the original source file somewhere local (or frequently in Google Drive, since it plays nicely with draw.io), then you'd have to start from scratch -- just meaning you'll need to find your original source file.

[2016-04-09 17:22] choldgraf commented on #51
sweet - yep, it was draw.io but I think that my old version got lost
somewhere, so I recreated it and it's now in the PR

On Fri, Apr 8, 2016 at 2:15 PM, Daniel Turek notifications@github.com
wrote:

[2016-04-09 19:45] danielturek commented on #59
Received revised files from Jose, closing issue.

[2016-04-09 19:45] #59 closed

[2016-04-09 19:51] danielturek commented on #58
Closing after merging in revisions from #82.

[2016-04-09 19:55] danielturek commented on #64
The size of the new PNG file looks good.

[2016-04-09 19:56] danielturek commented on #62
Closing since we believe this issue was submitted to the wrong repository.

[2016-04-09 19:56] #62 closed

[2016-04-09 20:01] danielturek commented on #58
Apologies @jgukelberger, I just noticed the first label in your updated diagram reads "Stage I: Data Generation".  Can you please update this to either:

Stage I: Data Input
-- or --
Stages I,II: Data Input, Processing

Thanks.

[2016-04-09 20:05] danielturek commented on #64
Revisions look good, merged #86 and closing this issue.  Thanks for making timely revisions @kbarbary.

[2016-04-09 20:05] #64 closed

[2016-04-10 03:28] danielturek commented on #50
Merged #84 and closing issue.

[2016-04-10 03:28] #50 closed

[2016-04-10 03:59] danielturek commented on #71
Received updated files from Tara.

[2016-04-10 03:59] #71 closed

[2016-04-10 04:03] danielturek commented on #60
Received #87, but need PR into submissions branch.

[2016-04-10 04:21] danielturek commented on #51
@choldgraf, your edits in #88 look very good throughout.  Thanks for the timely revisions.  #88 has been merged.

Can you please create one more PR, with the source file for your diagram?  Thanks.

[2016-04-10 17:09] fatmai commented on #75
#91 addresses this revision.

[2016-04-10 17:09] #75 closed

[2016-04-10 17:43] fatmai commented on #65
PR #90 addresses all the points. thanks!

[2016-04-10 17:43] #65 closed

[2016-04-10 18:33] fatmai commented on #48
closing issue. PR #55 merged.

[2016-04-10 18:33] #48 closed

[2016-04-11 01:44] valentina-s commented on #72
@danielturek, Thank you for the comments and suggestions. I made the case study description a bit more formal and shrank the diagram. If it is still too big and wordy, I will work on reducing it more. Should it be in the upper half of the page or just half of the space should be used?

[2016-04-11 04:25] danielturek commented on #72
@valentina-s, thanks for the edits to your case study.  The narrative looks very good.  We're requesting additional minor edits to your diagram:
- [x] For the labels, please use exactly these labels: “Stage I: Data Input” (if you feel there is a place for this), “Stage II: Data Processing” and “Stage III: Data Analysis”, to indicate the appropriate sections.
- [x] Please remove the stray arrow poi

[2016-04-11 14:36] dani-lbnl commented on #54
Dear Daniel,

I believe I have addressed this issue. Please let me know if you find any problems. I've submitted a pull request.
thanks, Dani

[2016-04-11 15:45] dani-lbnl commented on #54
Hi Daniel,
It seems that you want me to change the diagram, however the idea of stage I, II, and III does not quite apply to the SIPOC diagram. Should I just completely change that diagram and use your theme instead? thx, Dani

[2016-04-11 16:55] fatmai commented on #51
diagram SVG file added in #92. Closing issue.

[2016-04-11 16:55] #51 closed

[2016-04-11 17:49] fatmai commented on #54
@dani-lbnl , do you think the following labels could be suitable in your diagram
Stage I: (Sources & Input)
Stage II: Process
? thx, f

[2016-04-11 18:44] kallisons commented on #60
I think that I made a pull request for the revisions into the submissions branch, but I am not sure?

Are the pain points, key benefits, key tools, and  "General questions about reproducibility" going to be included?

[2016-04-11 20:44] karthik commented on #74
Apologies for the delay, @fatmai I'll have something in today or tomorrow.

[2016-04-11 20:47] fatmai commented on #74
great, thanks @karthik.

[2016-04-12 18:09] fatmai commented on #60
yes, I got the PR #95 to the submission branch. Thanks. Closing this issue.

[2016-04-12 18:09] #60 closed

[2016-04-13 18:09] danielturek commented on #54
@dani-lbnl, can you please create a new PR into the **submissions** branch of the BIDS/repro-case-studies repository?

Also the addition of a one-line title to your Narrative, as @fatmai mentioned.

And I hope you don't have to re-work the entire diagram.  But we are aiming for a consistent format using labels such as "Stage I: Data Input", and "Stage II: Data Processing".  Would these be suitable

[2016-04-13 18:37] danielturek commented on #58
Labels changed in PR #96, which has been merged.

[2016-04-13 18:37] #58 closed

[2016-04-13 18:42] danielturek commented on #77
Thanks @zhaozhang, merged #98 with your revisions.

[2016-04-13 18:42] #77 closed

[2016-04-13 19:53] dani-lbnl commented on #54
@fatmai @danielturek -- I am changing the diagram the best I can to accommodate requests, but because I use Lucidchart, most of the changes are impossible, for example
1) Please remove the little semi-circles in the lines, where they overlap. Not necessary, it’s understandable where the lines are going. >> it's inherent to the diagramming tool
2) Please make it so the lines from the top-left box (

[2016-04-13 19:54] dani-lbnl commented on #54
![screen shot 2016-04-13 at 12 46 48 pm](https://cloud.githubusercontent.com/assets/8379306/14507311/df38b6c2-0176-11e6-8cd2-a8ea7f904f1b.png)

[2016-04-13 21:42] danielturek commented on #54
@dani-lbnl Thanks for all the details.  In that case, can you please open a new PR into the submissions branch, with your updated Narrative (including title) and Diagram?

[2016-04-14 04:06] dani-lbnl commented on #54
@danielturek @fatmai I've made many changes to the diagram trying to address the your comments, thanks. new PR on the way

[2016-04-14 04:49] fatmai commented on #72
Looks great! Thanks @valentina-s for your work. PR #99 merged. Closing this issue.

[2016-04-14 04:49] #72 closed

[2016-04-14 05:11] fatmai commented on #54
Thanks, @dani-lbnl for the revised diagram and title. There are few minor revisions left before we can merge your PR.
- [x] Could you please remove all the yellow and gray colors from your diagram? We would like to have all the diagrams consistent and use only black and white.
- [x] I read the label Stage I: Sources & Inputs, Stage II: Inputs & Process, Stage III: Process & Output & Consumer. I am

[2016-04-14 18:37] danielturek opened #101 "Case Study Revision: jkitzes"
@jkitzes
Thanks for still requesting an issue.  I’ll prune this down just to the things that *are* relevant to you, and hence should be revised, so please check out the points below.

Introduction

- [x] Please provide a one sentence “title” for your case study (e.g., “Developing, testing, and deploying efficient MCMC algorithms for hierarchical models using R”, or an equivalent level of detail),

[2016-04-15 13:57] pablobarbera commented on #45
Thanks for the feedback! Pull request #102  introduces the following changes to address these comments:

Narrative
- The case study now has a title ("The trade-off between reproducibility and privacy in the use of social media data to study political behavior")
- I revised the case study and fixed all typos I found
- I added a URL link to the Stan reference. (Stan is not an acronym, or at least no

[2016-04-15 17:39] danielturek commented on #68
Randy, I just noticed a few typos in your Narrative.  Specifically, "probabalistic" and "assessement", both in the first paragraph.  Can you please also run a spell-check over your entire narrative?

What's the status on considering how to use labels in your diagram?

[2016-04-15 18:47] pablobarbera commented on #45
Now in pull request #104 . Thanks!!

[2016-04-15 18:54] dani-lbnl commented on #54
Thanks for the comments @fatmai . I believe I've PR to the right branch now, and provided the fixes to the diagram accordingly.

[2016-04-16 04:10] fatmai commented on #45
Looks great! Thanks, @pablobarbera. Closing issue.

[2016-04-16 04:10] #45 closed

[2016-04-16 04:19] fatmai commented on #70
Thanks, @rachelslaybaugh. I merged #106. Looking forward to the diagram. fyi, a lot of people have used draw.io for the diagram during the conference (and couldn't remember anymore :)), so your original file maybe there as well.

leaving this issue open until we finalize the diagram.

[2016-04-17 04:22] danielturek commented on #54
@dani-lbnl Thanks for working with us.

I just took a look, and it seems the diagram in PR #105 still has color and grayscale: a yellow tint to all the boxes, and grey background in the boxes along the top.

Are you able to adjust it one final time, to remove both the color and the grayscale?  We're aiming for strictly black & white diagrams.

Thanks!

[2016-04-17 21:38] danielturek commented on #42
@jarrodmillman Wanted to check-in on the status of your revisions.  We were aiming for your deadline of 15 April.  Please just let us know where you're at.  Thanks!

[2016-04-18 03:08] danielturek commented on #70
Revisions completed, merged #107.

[2016-04-18 03:08] #70 closed

[2016-04-18 16:31] dani-lbnl commented on #54
@danielturek  - thanks for your reviews, I've removed color and grayscale. hope now it works. thx.

[2016-04-18 20:01] danielturek commented on #54
Merged #109 with revisions to diagram.  Thank you @dani-lbnl, your case study revisions are complete.

[2016-04-18 20:02] danielturek commented on #101
@fatmai @jkitzes  This one seems to be lagging behind, have we heard anything from him?

[2016-04-18 20:10] danielturek commented on #43
Mutual agreement to remove this case study.

[2016-04-18 22:12] jkitzes commented on #101
He says he needs a 6 month extension, would that be ok? :-D

Should be able to finish this up either Weds or Fri this week.

[2016-04-18 23:09] fatmai commented on #101
👍

[2016-04-20 04:50] jarrodmillman commented on #42
@danielturek  We are making progress.  I reviewed the current draft with Philip and Kellie today.  I am busy tomorrow, but I will have time to finalize the draft on Thursday and then incorporate any final comments from Philip and Kellie on Friday.   So we will have the complete revision submitted on 4/22.

[2016-04-20 16:47] danielturek commented on #53
Extended deadline for revisions to 4/27.  Please try to complete these by then!

[2016-04-21 17:20] danielturek commented on #68
Merged #110, closing revisions issue.  Thanks @rjleveque.

[2016-04-21 17:20] #68 closed

[2016-04-21 19:40] danielturek commented on #57
Closed after merging #111

[2016-04-21 19:40] #57 closed

[2016-04-21 19:41] danielturek commented on #42
Great, thanks @jarrodmillman.  We'll look forward to seeing your revision tomorrow.

[2016-04-21 19:47] danielturek commented on #101
Merged #112 and closing.

[2016-04-21 19:47] #101 closed

[2016-04-23 16:32] jarrodmillman commented on #42
@danielturek , the revision is almost finished.  There is one subsection that I need Philip to review.  I will submit the final draft tonight or tomorrow.

If you are interested, we are working on the revision here:
https://github.com/statlab/nsgk

[2016-04-23 17:02] danielturek commented on #42
@jarrodmillman Thanks for keeping in touch.  Not a problem.  Just create a PR when you've finished the revision, and make sure to create it into the _submissions_ branch (lots of folks making that mistake).  We'll look forward to seeing the revised version.

[2016-04-23 19:08] jarrodmillman commented on #42
Will do.

[2016-04-24 05:54] jarrodmillman commented on #42
See #116

[2016-04-24 19:36] danielturek commented on #42
Revisions received in #116, closing issue, thanks @jarrodmillman.

[2016-04-24 19:36] #42 closed

[2016-04-25 13:57] danielturek commented on #69
Will do his best for revisions by May 9th.

[2016-04-25 18:14] danielturek commented on #53
Merged #117 with revisions from dholland.

[2016-04-25 18:14] #53 closed

[2016-04-25 23:09] danielturek commented on #43
Happily!

[2016-04-26 16:58] fatmai commented on #43
Thanks a lot, @cboettig for the revised version. This looks great.

Could you also provide a short title for your case study.

Also, I noticed two sentences Introduction and Narrative that needs quick revision:

**Introduction:**
(too many here's in the following sentence)
"My general approach to an open lab notebook has been described previously [@Gewin2013, @Mascarelli2014], while here I focus o

[2016-04-27 15:01] danielturek commented on #44
Thanks for working on the revision.  #119 seemed to have merge conflicts in the markdown file.  Can you please correct these, and open a new PR.

Also, the modified diagram looks excellent.

[2016-04-27 15:59] jkitzes commented on #44
Anthony emailed me the files also and mentioned that he thought he might have made a mistake with the PR. I'll set up a new one now with his revision.

[2016-04-27 18:44] danielturek commented on #44
Merged #121, closing issue.

[2016-04-27 18:44] #44 closed

[2016-04-29 19:03] cboettig commented on #43
@fatmai @danielturek Thanks!  Just pushed these changes into the PR (#118).

Only thing I was unsure about was the labeling of "Stage II: Data Processing" on the diagram. As I attempted to justify in the text, my feeling is that these three stages are all captured within the R code in the .Rmd file in my diagram, and don't really belong in separate boxes for my workflow. (I'm sure we could talk at

[2016-04-29 21:11] danielturek commented on #43
That makes sense @cboettig.  Here's what I'll suggest.  Could you add one single label in your diagram, reading:

"Stages 1, 2, 3: Data Input, Processing, Analysis"

which could appear in any of several different places, but essentially referring to (either) the Rmd script, or the entire diagram if you feel that's more appropriate.

This would help make your diagram consistent with the other case

[2016-04-29 21:25] cboettig commented on #43
@danielturek good idea!  I've added this annotation to the diagram.  (I've also included the source inkscape SVG as well, feel free to tweak as desired)

[2016-04-29 21:44] danielturek commented on #43
Revised figure looks great.  Merged #118 and closing this issue.

Thanks again @cboettig!

[2016-04-29 21:44] #43 closed

[2016-05-02 19:19] poldrack commented on #69
ok, PR with revised text and figure has been submitted

—
Russell A. Poldrack
Albert Ray Lang Professor of Psychology
Bldg. 420, Jordan Hall
Stanford University
Stanford, CA 94305

poldrack@stanford.edu
http://www.poldracklab.org/

[2016-05-03 02:24] danielturek commented on #69
Revisions nearly done in PR #123.  Requesting removing greys from the updated diagram.

[2016-05-03 04:15] danielturek commented on #69
PR #123 was updated with final touches to figure.  I manually merged the files in, since #123 was into the master branch, not submissions.  So although that PR was being closed, the revisions have been merged into submissions branch.

Thanks @poldrack !  Closing your revisions issue now.

[2016-05-03 04:15] #69 closed

[2016-05-04 06:30] fatmai opened #124 "Clean up/format case studies"
@jkitzes: The formatted versions of the case studies are now in the submissions_cleaned branch.

fyi, in all case studies, I moved the question

(2) Define what the term "reproducibility" means to you generally and/or in the particular context of your case study.

from the Introduction to the end as a new question with the following headline

##### What does "reproducibility" mean to you in genera

[2016-05-09 03:56] danielturek commented on #124
@fatmai If you're happy with the cleaned and re-organized case studies, shall we open a PR from the submissions_cleaned branch into master?  That would make it easier to review the changes and merge them in.

[2016-05-09 06:16] fatmai commented on #124
@danielturek, yes I am happy with the cleaned/re-organized case studies. I think @jkitzes wanted to give us the last go before merging it into master (?)

[2016-05-09 13:04] danielturek commented on #124
Great.  I took a brief look, and the changes in your submissions_cleaned branch looked good as far as I saw.

[2016-05-10 17:07] jkitzes commented on #124
Sounds good - I'll have a look at the branch and then merge it in.

[2016-05-12 19:49] danielturek commented on #74
Thanks @kram, merged #125 with your case study revisions, closing this issue.

[2016-05-12 19:49] #74 closed

[2016-05-12 19:50] danielturek commented on #124
@jkitzes and @fatmai one of you might have to do this same "cleaning" process to the newly revised kram case study.  The revisions have just been merged into submissions branch.

[2016-05-12 22:54] fatmai commented on #124
thanks, @danielturek. I can do it tonight.

[2016-05-12 23:25] fatmai commented on #124
@jkitzes, @danielturek: the newly revised kram case study is now under the submissions_cleaned branch.

[2016-05-13 13:06] danielturek commented on #124
Thanks @fatmai

[2016-05-17 17:43] fatmai commented on #56
@garretchristensen: We just realized that your diagram is in portrait format instead of landscape.

Is it possible that you revise that anytime soon? Thanks!
- [ ] Please reformat your Diagram to be horizontally (landscape) oriented. Further, your Diagram should occupy no more than 1/2 of a US letter page. This will require reorganizing your boxes.

[2016-05-18 05:28] fatmai commented on #56
@garretchristensen will send reorganized (left-to-right figure) on Thursday.

[2016-05-19 23:25] fatmai commented on #56
here is the link for the revised figure: https://drive.google.com/a/berkeley.edu/file/d/0B_tfJAZML93oamdUdmxNLXctQVU/view?usp=sharing

[2016-06-30 05:40] danielturek commented on #54
@dani-lbnl One very minor additional request for your case study digram.  I'm sorry, but I'm having trouble modifying your SVG diagram file.

Can you please change the text that reads "GITHUB" to instead read "GitHub"?

If you can submit the changed SVG and PDF files to the _submissions_ branch, that would be great.  Thanks!

[2016-06-30 16:13] danielturek opened #127 "choldgraf Minor case study revision"
@choldgraf Can you please add a short description of PEP8 and PEP257 checkers to your case study, for those who are unfamiliar?

Please make sure to submit changes to the `submissions` branch.

Thanks!

[2016-06-30 16:45] danielturek opened #128 "kasmislan Minor case study revison"
@kallisons Can you please make one minor change (addition) to your case study?  Can you elaborate slightly, with just a few sentences in the "Pain Points" section, where the text currently reads:

Archiving my code takes additional time.

Thank you!

[2016-06-30 17:19] choldgraf commented on #127
yep, will do this soon.

On Thu, Jun 30, 2016 at 9:13 AM, Daniel Turek notifications@github.com
wrote:

[2016-07-01 12:33] danielturek commented on #127
This has been resolved Chris, no action needed from you.

On Thu, Jun 30, 2016 at 1:19 PM, Chris Holdgraf notifications@github.com
wrote:

[2016-07-01 12:34] danielturek commented on #127
Merged #129, closing.

[2016-07-01 12:34] #127 closed

[2016-07-01 18:51] danielturek commented on #52
Case study was dropped.

[2016-07-01 18:51] #52 closed

[2016-07-01 18:53] danielturek commented on #49
Case study was dropped.

[2016-07-01 18:53] #49 closed

[2016-07-01 18:53] danielturek commented on #76
Case study was dropped.

[2016-07-01 18:53] #76 closed

[2016-07-01 18:56] danielturek commented on #124
`submissions_cleaned` branch was merged into `submissions` on 16 May 2016.

[2016-07-01 18:56] #124 closed

[2016-07-01 19:18] danielturek commented on #56
Thanks for updaging the diagram @garretchristensen .

Updated files `gchristensen.svg` and `gchristensen.pdf` were added to PR #130.  Closing this issue.

[2016-07-01 19:18] #56 closed

[2016-07-06 17:47] fatmai opened #133 "barbera: Minor change in your case study"
Hi @pablobarbera, we got further revisions back and one question came up regarding the following sentence in your case study:

"This is information that most users are not aware could not be inferred based only on their public personal information, which raises the question of whether the concept of informed consent in sharing users' data  -- as defined in the Terms of Service that users accept wh

[2016-07-06 18:41] pablobarbera commented on #133
Yes, it should be "could be inferred." Thanks!

[2016-07-06 21:11] kallisons commented on #128
I will add some text.  When do you need the revision?

[2016-07-06 21:28] fatmai opened #134 "gchristensen: Minor revisions for your case study"
Hi @garretchristensen, we got some revisions back and there are a few minor points that I would like you to go over:
- [ ] Could you please revise the following sentence. It is difficult to read it:
"I obtained this data from a public Defense Department website, and though I still have, and have archived on Dataverse, the dataset I downloaded and used, perhaps unsurprisingly, the original website

[2016-07-06 22:01] danielturek commented on #128
I'm sorry to ask so soon, but would it be possible by Friday?  This can be a very quick addition, nothing extensive is necessary.  Thanks.

[2016-07-07 04:27] fatmai opened #135 "chartgerink: Some edits to your case study"
Hi @chartgerink, we got further revisions some points came up from one of the reviewers:
- [ ] The Workflow is very general; it doesn't tell much about the specific project. It would be more interesting and engaging if you included specific details of the research - e.g. what does the data look like? What kind of analyses did you run?
You mention these in the first paragraph when you introduce the

[2016-07-07 05:19] fatmai commented on #133
great, thanks for the quick response. I changed it.

[2016-07-07 05:19] #133 closed

[2016-07-07 21:24] chartgerink commented on #135
Great, thanks! Will get these back to you on Monday at the latest if that's OK. Just a PR on the submissions branch again, I figure?

Edit: the third point is already in there, AFAIK.

[2016-07-07 22:18] chartgerink commented on #135
Just created the PR. I felt somewhat uncomfortable about writing in past tense, because I am still not done with the project :-) Let me know if this works for you or you'd like to see some additional edits.

[2016-07-08 22:21] kallisons commented on #128
Text has been added to the "Pain Points" section.  Let me know if you need additional text.

[2016-07-09 00:59] danielturek commented on #128
@kallisons Can you please pull from the submissions branch of BIDS/repro-case-studies, then make the changes once again to kasmislan.md (there have been a lot of formatting changes since), then open a PR from this updated file, into the submissions branch?  Thank you.  I'm going to close the current PR.

[2016-07-11 17:57] fatmai commented on #134
hi @garretchristensen, any chance you can look over these minor revisions today?

[2016-07-11 23:03] garretchristensen commented on #134
Did a PR in the fatma_edits branch.

Garret

On Mon, Jul 11, 2016 at 1:57 PM, fatmai notifications@github.com wrote:

##

Garret Christensen, PhD
Assistant Project Scientist, Berkeley Initiative for Transparency in the
Social Sciences http://bitss.org
Data Science Fellow, Berkeley Institute for Data Science
http://bids.berkeley.edu

[2016-07-12 05:22] fatmai commented on #134
thanks, @garretchristensen. PR #134 looks great. closing issue.

[2016-07-12 05:22] #134 closed

[2016-07-12 05:26] fatmai commented on #135
thanks, @chartgerink. np with the past tense. its ok this way. PR #137 looks good, merged. closing the issue.

[2016-07-12 05:26] #135 closed

[2016-07-12 19:41] jkitzes commented on #54
After editor discussion, decided to leave this as is for now. Will return if needed when UC Press gives us more guidance on figure formats.

[2016-07-12 19:41] #54 closed

[2016-07-13 18:55] jkitzes commented on #128
Text moved over in 85ee5ab9be14b5ee134b9506edb076a86f05e189.

[2016-07-14 01:12] danielturek commented on #128
Thanks for the manual merge @jkitzes

[2017-01-13 06:52] fatmai opened #148 "akrause: author introduction to a first person form"
@andykrause

In order to have a standard voice throughout the author introductions in the book we made the following change in 3e3807b27fa671517b6d1d4f713b8e4c7e360f7e

Could you please briefly review this?

Also, if you like to have your colleague Hossein Estiri a co-author to the chapter, we can certainly do that too. Then we would change the voice from "I" to "We" in this introductory part. Jus

[2017-01-14 05:19] andykrause commented on #148
Yes, i've reviewed that change and it is acceptable.

[2017-01-14 05:20] fatmai commented on #148
👍  thanks!

[2017-01-14 05:20] #148 closed

[2017-01-20 16:57] danielturek opened #155 "Co-author for Anthony Arendt (aarendt) case study?"
@aaarendt We received a signed contributor agreement from Christian Kienholz, referencing your case study.

Should be be listed as a co-author on your case study?  Just let me know, and I can add him on.

[2017-01-20 22:40] aaarendt commented on #155
@danielturek Yes, Christian Kienholz will be a co-author. I will e-mail a few additional ones shortly. Thanks!

[2017-01-20 23:02] danielturek commented on #155
Great.  Can you please also send the contributor agreement along to any additional co-authors, and ask them to complete it?

[2017-01-22 23:34] danielturek commented on #155
@aaarendt I'm adding the co-author Christian Kienholz now.  Please send another message with any additional co-authors, when you're ready to.

[2017-01-31 06:23] danielturek commented on #155
I believe all co-authors all have been added now.

[2017-01-31 06:23] #155 closed

[2017-01-31 06:36] danielturek opened #164 "Contributor agreement from Chris Hartgerink"
@chartgerink We need the signed contributor agreement from you, to publish your case study on reproducible research.  Please let me know if you see this message, and I'll send information about submitting your agreement.  We need it ASAP.

Can you also give me an email address, where I can reach you?

[2017-02-01 03:25] jkitzes commented on #164
@chartgerink , thanks for providing.

[2017-02-01 03:25] #164 closed

[2017-02-01 13:55] chartgerink commented on #164
Sorry for missing this, it got flooded in my Github notifications.

[2017-02-02 06:24] fatmai opened #167 "references in fatmai"
@jkitzes: I added two new references (included both bibtex and APA form at the end of the case study) to my own case study. How shall we proceed on updating the references. I know that you did this last time, so let me know what is your preferred way to do this.

also I actually pushed these changes already w/o a PR. I thought I was operating on my fork but wasn't. lmk if that is fine.

[2017-02-04 21:53] jkitzes commented on #167
No problem, just updated to the format that should render properly - so all set!

[2017-02-04 21:53] #167 closed

[2017-02-05 01:01] fatmai commented on #167
great, thanks @jkitzes!

[2017-03-06 20:06] jkitzes opened #169 "dsinghania image format"
Additional case study from dsinghania will need an image in pdf format rather than png.

[2017-06-13 19:57] garretchristensen opened #170 "@dsinghania edits for inclusion in online edition"
Deepak, @dsinghania
I know this has taken us forever, but we'd like to include your case study in an online appendix of our volume. (We didn't get enough submissions to justify a second edition, but the online book looks really good, and the print version is yet to come out. See https://www.practicereproducibleresearch.org/)

I have made some minor grammatical edits. Would you mind making the foll

[2017-06-13 21:17] garretchristensen opened #171 "Titles for Gilmore/Seisler diagram"
We should probably have headers at the top of the three main regions of this diagram.

[2017-06-13 21:38] garretchristensen opened #172 "Werner Krause and Dag Tanneberg case study"
- [x] Is there a public link to the database, or the Shiny app that you've created?

- [x] If there is no suggestion for the last question (Would you recommend any specific websites, training courses, or books for learning more about reproducibility?) then delete entirely.

[2017-06-14 10:36] dagtann commented on #172
- The database is not yet publicly accessible. We plan to publish it by the end of the year and could provide you with a public link later.
- The last question has been deleted.

[2017-06-14 10:54] dagtann commented on #172
Updated the wrong repo. I am fixing things right now.

[2017-06-14 19:33] garretchristensen commented on #172
Great, thanks for the quick response. It's fine if there's no public link, but then could we state that somewhere in the text? Maybe soon after the database is first introduced, state that it will be posted when finished, or something to that effect? I just wouldn't want readers to be confused or search for it if not available.

[2017-06-15 08:03] dagtann commented on #172
I'll take care of it.

⁣Sent from BlueMail ​

On Jun 14, 2017, 21:33, at 21:33, Garret Christensen <notifications@github.com> wrote:

[2017-07-08 01:07] garretchristensen commented on #172
@dagtann My apologies if I deleted the title to your workflow at some point, but I couldn't find one. I created a short YAML header in line with the formatting requirements for the book and used the title "Maintaining a Reproducible Database of Political Competition"
If that's OK with you, then we're good to go. If you prefer something else, could you please issue a pull request with the updated t

[2017-07-08 01:08] #171 closed

[2017-07-08 01:10] #170 closed

[2017-07-08 01:10] #169 closed

[2017-07-08 01:10] garretchristensen commented on #169
I uploaded pdf version

[2017-07-08 01:23] garretchristensen commented on #172
Also, I made a grayscale version of your diagram to be consistent with all the other diagrams. If you're unhappy with that, feel free to try and improve resolution yourself. I'm going to send all this stuff to Justin Kitzes now for inclusion--he may have some other minor comments.

[2017-07-08 13:45] dagtann commented on #172
Thanks! The title should be  **Maintaining a Reproducible Database on political Parties, Elections, and Governments**. Competition is only one aspect to what we do. Other than that we are fine with your edits.

[2017-07-09 21:03] garretchristensen commented on #172
Updated title.

[2017-07-09 21:03] #172 closed